@page "/"
@model Chirp.Web.Pages.PublicModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    <partial name="_LoginPartial" />

}

<div>
    <h2> Public Timeline </h2>

    @if (User?.Identity?.IsAuthenticated == true)
    {   
        <form asp-page="/" method="post">
            <input type="text" asp-for="Message">
            <input type="submit" value="Share">
            <span asp-validation-for="Message"></span>
        </form>
        
        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.authorName">@cheep.authorName</a>
                            </strong>
                            @cheep.text
                            <small>&mdash; @cheep.postedTime</small>
                        </p>
                        @if (true)
                        {
                            <p align="right">
                                <button onclick=@Model.UnFollowUser(cheep.authorName)>Follow</button>
                            </p>
                        }
                        else
                        {
                            <p align="right">
                                <button onclick=@Model.FollowUser(cheep.authorName)>Follow</button>
                            </p>
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    }
    else
    {
        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.authorName">@cheep.authorName</a>
                            </strong>
                            @cheep.text
                            <small>&mdash; @cheep.postedTime</small>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    }

    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="/?page=@(Model.CurrentPage - 1)">Previous</a>
        }

        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <a href="/?page=@i" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="/?page=@(Model.CurrentPage + 1)">Next</a>
        }
    </div>
</div>
