@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        @if (Model.GetUserName != @routeName?.ToString())
        {
        <h2> @routeName's Timeline </h2>
            <div>
                @if (await Model.IsFollowing(@routeName?.ToString()))
                {
                    <form method="post" asp-page-handler="Unfollow">
                        <input type="hidden" name="authorName" value="@routeName?.ToString()"/>
                        <button type="submit">Unfollow</button>
                    </form>
                }
                else
                {
                    <form method="post" asp-page-handler="Follow">
                        <input type="hidden" name="authorName" value="@routeName?.ToString()"/>
                        <button type="submit">Follow</button>
                    </form>
                }
            </div>
        }
        else
        {
        <h2> My Timeline </h2>
            <form asp-page="/" method="post">
                <input type="text" asp-for="Message">
                <input type="submit" value="Share">
                <span asp-validation-for="Message"></span>
            </form>

        }
    }

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.authorName">@cheep.authorName</a>
                        </strong>
                        @cheep.text
                        <small>&mdash; @cheep.postedTime</small>
                    </p>
                    @if (Model.GetUserName == @routeName?.ToString())
                    {
                        @if (Model.GetUserName != cheep.authorName && User?.Identity?.IsAuthenticated == true)
                        {
                            <div style="text-align: right;">
                                @if (await Model.IsFollowing(cheep.authorName))
                                {
                                    <form method="post" asp-page-handler="Unfollow">
                                        <input type="hidden" name="authorName" value="@cheep.authorName" />
                                        <button type="submit">Unfollow</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-page-handler="Follow">
                                        <input type="hidden" name="authorName" value="@cheep.authorName" />
                                        <button type="submit">Follow</button>
                                    </form>
                                }
                            </div>
                        }else if (Model.GetUserName == cheep.authorName && User?.Identity?.IsAuthenticated == true)
                        {
                           <div style="text-align: right;">
                        <form method="post" asp-page-handler="Delete" style="position: relative; top: -14px; right: -1px;">
                        <input type="hidden" name="cheepText" value="@cheep.text" />
                        <input type="hidden" name="time" value="@cheep.postedTime" />
                        <button type="submit" style="background: none; border: none; padding: 0; margin: 0; cursor: pointer;">
                            <img src="/images/Xicon.png" alt="Delete Icon" style="width: 12px; height: 12px;" />
                        </button>
                    </form>
                    </div>
                    }
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="/@routeName/?page=@(Model.CurrentPage - 1)">Previous</a>
        }

        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <a href="/@routeName/?page=@i" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="/@routeName/?page=@(Model.CurrentPage + 1)">Next</a>
        }
    </div>
</div>
