@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.authorName">@cheep.authorName</a>
                        </strong>
                        @cheep.text
                        <small>&mdash; @cheep.postedTime</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
        <a href="/@routeName/?page=@(Model.CurrentPage - 1)">Previous</a>
        }

        @for (var i = 1; i <= Model.TotalPages; i++)
        {
        <a href="/@routeName/?page=@i" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
        <a href="/@routeName/?page=@(Model.CurrentPage + 1)">Next</a>
        }
    </div>
</div>
